/* Contactfolder listing */
#contact-folder-view .contactFolderAlphabeticalSearch {
    margin-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid #ddd;
    padding-top: 1em;
}
#contact-folder-view .contactFolderAlphabeticalSearch .letter{
    float: left;
    display: block;
    cursor: default;
    padding: 1.1em;
    margin-bottom: 0.4em;
    background-color: #f1f1f1;
}
#contact-folder-view .contactFolderAlphabeticalSearch .letter.withContent {
    background-color: #fff;
    cursor: pointer;
}
#contact-folder-view .contactFolderAlphabeticalSearch .letter.withContent:hover {
    background-color: #c4d9ea;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
}
#contact-folder-view .contactFolderAlphabeticalSearch .letter.active {
    background-color: #205c90;
    color: #fff;
    cursor: pointer;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
}
#contact-folder-view .contactFolderContactsListig {
    min-height: 400px;
}
#contact-folder-view .contactSummary {
    display: block;
    border-bottom: 1px solid #ddd;
    margin-top: 2em;
    padding-bottom: 1em;
}
#contact-folder-view .contactSummary:last-child {
    border-bottom: none;
}
#contact-folder-view .contactFolderLoadMoreContacts {
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 2em;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius: 6px;
}
#contact-folder-view .contactFolderLoadMoreContacts:hover {
    background-color: #fafafa;
}
#contact-folder-view .contactInfo {
    float: left;
}
#contact-folder-view .contactInfo table {
    margin-top: 1em;
    width: 100%;
}
#contact-folder-view .contactInfo th {
    font-weight: inherit;
    text-align: left;
    padding-right: 10px;
}
#contact-folder-view .contactImage {
    float: right;
    width: 200px;
    height: 200px;
    background-size: contain;
}
#contact-folder-view input#contactFolderSearchGadget {
    width: 100%;
    height: 1.5em;
    font-size: 2em;
    box-sizing: border-box;
}
/* End Contactfolder listing */

/* Contact view */
#contact-view {
    margin-bottom: 2em;
}
#contact-view .contactInfos {
    float: left;
    margin-right: 1em;
}
#contact-view .contactInfos th {
    padding-right: 1em;
}
#contact-view .contactPortrait {
    float: right;
    margin-right: 1em;
    width: 200px;
    height: 200px;
    background-size: contain;
}

#contact-view .mapWidget {
  margin-top: 1em;
}

/* End Contact view*/

/* Memberblock view */
.memberBlockPortraitEmpty {
    width: 200px;
    height: 200px;
    background-size: contain;
}

/* End Memberblock view */
#contact-view .contactPortrait.gender-f,
#contact-folder-view .contactImage.gender-f,
#member-view .memberPortrait.gender-f,
.memberBlockPortraitEmpty.gender-f {
    background-image: url("++resource++ftw.contacts.resources/female.png");
}
#contact-view .contactPortrait.gender-m,
#contact-folder-view .contactImage.gender-m,
#member-view .memberPortrait.gender-m,
.memberBlockPortraitEmpty.gender-m {
    background-image: url("++resource++ftw.contacts.resources/male.png");
}
#contact-view .contactPortrait.gender-,
#contact-folder-view .contactImage.gender-,
#member-view .memberPortrait.gender-,
.memberBlockPortrait.gender- {
    background-image: url("++resource++ftw.contacts.resources/factory.png");
}

/* ftw.simplelayout integration */
#plone-contentmenu-factories .contenttype-ftw-contacts-memberblock {
    display: none !important;
}
/* End ftw.simplelayout integration */
